  body {
    background-color: #eeecec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 0 auto;
    height: auto;
  }

  input {
    width: 100%;
  }

  table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  h3 {
    display: flex; 
    justify-content: center;
  }

  th,
  td {
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    padding: 8px;
    font-size: 12px;
  }

  thead,
  tbody {
    background-color: #e2e2e2;
  }

  @media screen and (max-width: 838px) {
    .usuarios {
      background-color: #e2e2e2;
    }
    thead {
      height: 1px;
      overflow: hidden;
      position: absolute;
      background-color: #eeecec;
    }
    td {   
      font-size: 10px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    th {
      display: block;
    }
  }

  .botones {
    padding: 12px;
    display: flex;
    justify-content: center;
  }

  .botonListar {
    font-size: 12px;
    padding: 6px;
    background-color: #0a086d;
    color: #ffff;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
  }

  .botonEnviar {
    font-size: 12px;
    padding: 6px;
    background-color: #6d0808;
    color: #ffff;
    border-radius: 8px;
    border: none;
  }
  
